/* Background Colors */
.bg-black {background-color: #000;}
.bg-grey {background-color: #808080;}

/* Text Colors */
.text-white {color: #fff;}
.text-red {color: #ff0000;}

/* Padding */
.p-10 {padding: 10px;}
.pt-100 {padding-top: 100px;}

/* Position */

.p-absolute {position: absolute;}
.lr-0 {left: 0; right: 0;}
.b-0 {bottom: 0;}

.f-right {float: right;}

/* Text properties */

.text-bold {font-weight: bold }
.text-underline {text-decoration: underline }
.text-center { text-align: center }
.text-xlarge{font-size: x-large}

.col {display: flex; flex-direction: column;}
.row {display: flex; flex-direction: row;}

.space-between {justify-content: space-between;}

.w-100 {width: 100%;}
.w-50 {width: 50%;}
.w-45 {width: 45%;}

.h-20px {height: 20px;}

.m-auto {margin: auto;}

.mb-50 {margin-bottom: 50px;}


.btn-validate {
    background-color: #4CAF50; /* Couleur de fond verte */
    border: none; /* Pas de bordure */
    color: white; /* Texte blanc */
    padding: 15px 32px; /* Espacement interne */
    text-align: center; /* Texte centré */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change le curseur en main lors du survol */
    transition-duration: 0.4s; /* Durée de la transition */
}

/* Styles pour le bouton "Valider" lors du survol */
.btn-validate:hover {
    background-color: #45a049; /* Change la couleur de fond lors du survol */
}

/* Styles pour le bouton "Valider" lorsqu'il est activé */
.btn-validate:active {
    background-color: #3e8e41; /* Change la couleur de fond lorsqu'il est activé */
    box-shadow: 0 5px #666; /* Ajoute une ombre */
    transform: translateY(4px); /* Déplace légèrement le bouton vers le bas */
}

.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.wfull-textarea {
    width: 100%;
}

.h150-textarea {
    height: 150px;
}

.input-file-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}